.top_container{
    padding-top: 0.438rem;
}
.header__box{
    padding: 0.625rem 0;
}
.NavBar_Nav{
    margin-left: 16.1rem;
}
.Navbar_brand{
    margin-left: 8.8rem;
}
.top_bar_scl_ul{
    font-family: 'Lato',sans-serif;
    vertical-align: middle;
    display: flex;
    align-items: center;
    margin-top: .30rem;
}
.top_bar_ul{
    font-family: 'Lato',sans-serif;
    vertical-align: middle;
    display: flex;
    align-items: center;
    margin-top: .30rem;
}
.top_bar_ul > li > a{
    font-size: 0.75rem;
}